name: CI (build and package)

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

defaults:
  run:
    shell: pwsh

jobs:
  build:
    runs-on: windows-latest

    strategy:
      matrix:
        node-version: ["*", "-1", "-2"]

    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js LTS ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: "lts/${{ matrix.node-version }}"
          cache: npm
          cache-dependency-path: |
            cantarus-polydeploy-client-installer/package-lock.json
            cantarus-polydeploy-client/package-lock.json

      - name: npm install, package
        run: |
          cd cantarus-polydeploy-client
          npm ci
          cd ../cantarus-polydeploy-client-installer
          npm ci
          cd ..
          ./package.ps1

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v7.0.0
        with:
          path: "*.vsix"
          archive: false
          if-no-files-found: error
          name: ${{ format('VSIX from Node.js LTS {0} build', matrix.node-version == '*' && 'latest' || matrix.node-version) }}
